

<%- include("header") -%>

    <div class="header">
        <div class="wrap">
            <div class="header-bot">
                <div class="logo">
                    <a href="/"><img src="images/logo.png" alt="#"></a>
                </div>
                <div class="cart">

                    <div class="menu-main">
                        <ul class="dc_css3_menu">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/services">Brands</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Signup</a></li>

                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <div class="single">
                <div class="heading">
                    <h3>About Us</h3>
                    <p class="jumbotron"> At Auto Express, we believe that our relationship doesn’t end with getting you
                        a new car. Its just the beginning of a long relationship which will need constant support and
                        quality experience. Auto Express is Bangalore’s largest car dealership serving customers
                        throughout city from its 18 locations, providing a comfortable and a superior experience.

                        Auto Express has been recognized on a national level through the 10 platinum awards in last 15
                        years. Only dealership in Karnataka to achieve this feat.

                        Run by a dedicated team of professionals, highly competent with profound industry knowledge,
                        backed with 300 strong MSIL trained technicians, 140 Bronze masters, 110 service
                        advisors/consultants, 75 technical advisors, we offer professional services and optimum customer
                        satisfaction to over 15,000 customers every month.

                        We invite you to experience the truly integrated car buying service Auto Express has to offer
                        through the largest car network in Bengaluru.</p>
                </div>


                <div class="about-top">
                    <div class="about-topgrids">
                        <div class="about-topgrid1">
                            <h3>Looking for a car</h3>
                        </div>
                    </div>
                    <div class="about-histore">
                        <h3>Company History</h3>

                        <div class="clear"> </div>
                    </div>
                    <div class="about-services">
                        <h3>New Products</h3>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") -%>