<%- include("header") -%>


<div class="header">	
<div class="wrap"> 
	<div class="header-bot">
	<div class="logo">
		<a href="index"><img src="images/logo.png" alt="#"></a>
	</div>
	<div class="cart">
	   <div class="menu-main">
		   <ul class="dc_css3_menu">
			   <li class="active"><a href="/">Home</a></li>
			   <li><a href="about">About</a></li>
			   <li><a href="services">Brands</a></li>
			   <li><a href="contact">Contact</a></li>
			   <li><a href="login">Login</a></li>
			   <li><a href="register">Signup</a></li>
			   </ul>
			 <div class="clear"></div>
			</div>	
						
		</div>	
		
		
		<div class="clear"></div> 
	   </div>
	  </div>	
</div>



<div class="main">
	<div class="content-box1">
		<div class="wrap">
			<div class="banner2">
		                
	      			</div>
			</div>
	</div>
</div>




<div class="main-content">
	<div class="wrap">
		<div class="main-box">
		   <div class="box_wrapper"><h1>ASTON MARTIN</h1></div>
		   
			<div class="section group">
			
				<div class="col_1_of_4 span_1_of_4">
					<img src="images/db-1.jpeg" alt="" style="width: 287px; height : 150px;"/>
					<div class="grid_desc">
						<p class="title">DB11</p>
					</div>
					<div class="Details">
				     <a href="amDB11" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a></div>
				</div>
				
				
				 <div class="col_1_of_4 span_1_of_4">
					<img src="images/r-1.jpg" alt="" style="width: 287px; height : 150px;"/>
					<div class="grid_desc">
						<p class="title">RAPIDE</p>
					</div>
					<div class="Details">
				     <a href="amRapide" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a></div>
				</div>
				
				
				 <div class="col_1_of_4 span_1_of_4">
					<img src="images/v-1.jpg" alt="" style="width: 287px; height : 150px;"/>
					<div class="grid_desc">
						<p class="title">VANQUISH</p>
					</div>
					<div class="Details">
				     <a href="amVanquish" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a></div>
				</div>
				
				
				 <div class="col_1_of_4 span_1_of_4">
					<img src="images/va-1.jpg" alt="" style="width: 287px; height : 150px;"/>
					<div class="grid_desc">
						<p class="title">VANTAGE</p>
					</div>
					<div class="Details">
				     <a href="amVantage" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a></div>
				</div>
				
				
				<div class="clear"></div>
			</div>
			
			<div class="section group">
			
				<div class="col_1_of_4 span_1_of_4">
					<img src="images/vu-1.jpg" alt="" style="width: 287px; height : 150px;"/>
					<div class="grid_desc">
						<p class="title">VULCAN</p>
					</div>
					<div class="Details">
				     <a href="amVulcan" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a></div>
				</div>
								
				<div class="clear"></div>
			</div>
			
			

			
		</div>
	</div>
</div>
<%- include("footer") -%>

    	
    	
            