<%- include("header") -%>


<div class="header">	
<div class="wrap"> 
	<div class="header-bot">
	<div class="logo">
		<a href="index"><img src="images/logo.png" alt="#"></a>
	</div>
	<div class="cart">
	   <div class="menu-main">
		   <ul class="dc_css3_menu">
			   <li class="active"><a href="/">Home</a></li>
			   <li><a href="about">About</a></li>
			   <li><a href="services">Brands</a></li>
			   <li><a href="contact">Contact</a></li>
			   <li><a href="login">Login</a></li>
			   <li><a href="register">Signup</a></li>
			   </ul>
			 <div class="clear"></div>
			</div>	
						
		</div>	
		
		
		<div class="clear"></div> 
	   </div>
	  </div>	
</div>



<div class="main">
	<div class="content-box1">
		<div class="wrap">
			<div class="banner2">
		                
	      			</div>
			</div>
	</div>
</div>




<div class="main-content">
	<div class="wrap">
		<div class="main-box">
		   <div class="box_wrapper"><h1>BMW </h1></div>
		   
			<div class="section group">
			
				<div class="col_1_of_4 span_1_of_4">
					<img src="images/m4-2.jpg" alt="" style="width: 287px; height : 150px;"/>
					<div class="grid_desc">
						<p class="title">M4</p>
					</div>
					<div class="Details">
				     <a href="bmwm4" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a></div>
				</div>
				
				
				 <div class="col_1_of_4 span_1_of_4">
					<img src="images/X6.jpg" alt="" style="width: 287px; height : 150px;"/>
					<div class="grid_desc">
						<p class="title">X6</p>
					</div>
					<div class="Details">
				     <a href="bmwx6" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a></div>
				</div>
				
				
				 <div class="col_1_of_4 span_1_of_4">
					<img src="images/i8.jpg" alt="" style="width: 287px; height : 150px;"/>
					<div class="grid_desc">
						<p class="title">i8</p>
					</div>
					<div class="Details">
				     <a href="bmwi8" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a></div>
				</div>
				
				
				 <div class="col_1_of_4 span_1_of_4">
					<img src="images/m3-1.jpg" alt="" style="width: 287px; height : 150px;"/>
					<div class="grid_desc">
						<p class="title">M3</p>
					</div>
					<div class="Details">
				     <a href="bmwm3" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a></div>
				</div>
				
				
				<div class="clear"></div>
			</div>
			
			<div class="section group">
			
				<div class="col_1_of_4 span_1_of_4">
					<img src="images/x3-1.jpg" alt="" style="width: 287px; height : 150px;"/>
					<div class="grid_desc">
						<p class="title">X3</p>
					</div>
					<div class="Details">
				     <a href="bmwx3" title="Lorem ipsum dolor sit amet, consect etuer" class="button">Details<span></span></a></div>
				</div>
								
				<div class="clear"></div>
			</div>
			
			

			
		</div>
	</div>
</div>
<%- include("footer") -%>