

<!DOCTYPE HTML>
<html>
<head>
<title></title>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<!-- <form action="/login" method="POST">
		<input type="text" name="username"
			placeholder="username">
		<input type="password" name="password" 
			placeholder="password">
		<button>login</button>
	</form> -->
<div class="header">	
<div class="wrap"> 
	<div class="header-bot">
	<div class="logo">
			 <a href="/"><img src="images/logo.png" alt="#"></a>
		 </div>
		 
		 
		 <div class="cart">
			
            
		    <div class="menu-main">
		    
			   <ul class="dc_css3_menu">
					 <li class="active"><a href="/">Home</a></li>
					 <li><a href="/about">About</a></li>
					 <li><a href="/services">Brands</a></li>
					 <li><a href="/contact">Contact</a></li>
                     <li><a href="/login">Login</a></li>
                     <li><a href="/register">Signup</a></li>
                     
		     	</ul>
                
			 <div class="clear"></div>
			</div>	
						
		</div>	
		
		
		<div class="clear"></div> 
	   </div>
	  </div>	
</div>
<div class="header-bottom">
	<div class="wrap">
		<div class="page-not-found">
		<div class="text-center">
          <h2>Form
          </h2>
        </div>
      
        <div class="container-fluid row">
          
            <div class="col-md-3"></div>
          
      
          <div class="col-md-6">
        <form class="text-center" action="/register" method="post" >            
            <div ><br/>
               <label>Car Company</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Company Name" name="Name" required >
             </div>
 
            <div ><br/>
               <label>Car Name</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Car Name PLEASE" name="pass" required >
             </div> 
            <div><br/>
                <label>Route</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Route PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Car Heading</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Car Heading PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Availibility</label>
      <input type="number" class="form-control transparent-input" size="50" placeholder="Availibility PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Mileage</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Mileage PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Fuel Type</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Fuel Type PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Service Cost</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Service Cost PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Tank Capacity</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Tank Capacity PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Engine</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Engine PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>BHP</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="BHP PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Cylinder Count</label>
      <input type="number" class="form-control transparent-input" size="50" placeholder="Cylinder Count PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Gear Count</label>
      <input type="number" class="form-control transparent-input" size="50" placeholder="Gear Count PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Transmission</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Transmission PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Rear AC Vent</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Rear AC Vent PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Seating Capacity</label>
      <input type="number" class="form-control transparent-input" size="50" placeholder="Seating Capacity PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Boot Space</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Boot Space PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Abs</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Abs PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Driver Airbag</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Driver Airbag PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Parking Sensor</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Parking Sensor PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>AirBag </label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="AirBag  PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Description</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Description PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Img src</label>
      <input type="text" class="form-control transparent-input" size="50" placeholder="Img src PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Images</label>
      <input type="" class="form-control transparent-input" size="50" placeholder="Images PLEASE" name="pass" required >
             </div> 
            <div><br/>

                <label>Ref</label>
      <input type="" class="form-control transparent-input" size="50" placeholder="ref PLEASE" name="pass" required >
             </div> 
            <div><br/>

                

                <button type="submit" class="btn btn-warning" value="login" name="login">Submit</button>
             </div>
         </form>     
          </div>
          
            <div class="col-md-3"></div>
        
        </div> 
		</div>
	</div>
</div>














<div class="footer">
	<div class="wrap">
	   <div class="footer-top">				
				<div class="col_1_of_5 span_1_of_5">
					<div class="footer-grid twitts">
					<h3>Our Company</h3>
						<div class="f_menu">
							 <ul>
						          <li>This is a CAR selling dealer</li>
						     	  <li>Please read our Terms and Conditions </li>
						     </ul>
						</div>
				   </div>
				</div>
				
				<div class="col_1_of_5 span_1_of_5">
					<div class="footer-grid twitts">
						<h3>Get in touch</h3>
						<ul class="follow_icon">
							<li><a href="#" style="opacity: 1;"><img src="images/follow_icon.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="images/follow_icon1.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="images/follow_icon2.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="images/follow_icon3.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="images/follow_icon4.png" alt=""></a></li>
							<li><a href="#" style="opacity: 1;"><img src="images/follow_icon5.png" alt=""></a></li>
						</ul>
						<p>+1 111-111-1111</p>
						<span>support@autoexpress.com</span>
					</div>
				</div>
				<div class="clear"></div>
		</div>
	</div>
</div>		

</body>
</html>

    	
    	
            